<%=form_with model: tweet do |f| %>
  <%= f.text_area :body, placeholder: "Write thinking", :class => "w-full border--tweet"%>
  <div class = "button--tweet__direction"><%= f.submit "Tweet", :class => "button button--tweet" %></div>
<%end%>