  <div class="container-head header border-home">
   <h2>Home</h2>
  </div>
  <div class="">
    <% if user_signed_in?%>
    <div class = "flex border mb-2">
      <div class = "mr-1"><%= image_tag current_user.avatar%></div>
      <div class = "w-full"><%= render "form", tweet: Tweet.new %></div>
    </div>
    <%end%>
    <div>
      <% @tweets.each do |tweet| %>
      <%= render "tweet_made", tweet: tweet%>
      <%end%>
    </div>
  </div>
  

